
body {
	
}

img {
}

#container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto; 
}

#header{
	background-color: rgba(166,166,166,0.6);
	width: 90%;
	height: 15%;
	margin-left: auto;
	margin-right: auto;
	vertical-align: top;
	border-style: groove;
  	border-width: thick;
  	border-radius: 15px;
}

#main {
	background-color: rgba(166,166,166,0.6); 
	width: 90%;
	height: 70%;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	border-style: groove;
  	border-width: thick;
  	border-radius: 15px;
}

#main div {
	display: inline-flex;
	width: 49.5%;
	height: 49.5%;
	overflow: hidden;
	margin: auto;

}

.products {
	margin: auto;	
}

ul {
	display:flex;
	padding: 0;
	width: 400%;

	animation: changeImages 20s infinite;
}

li {
	list-style: none;
	width: 100%;
}

#footer {
	background-color: rgba(166,166,166,0.6); 
	width: 90%;
	height: 5%;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	vertical-align: bottom;
	border-style: groove;
  	border-width: thick;
  	border-radius: 15px;
}

#footer span {
	text-align: center;
	display: inline-block;
	vertical-align: center;
	margin-right: 6.5%;
	margin-left: 6.5%;
}


@keyframes changeImages {
	0%{margin-left: 0;}
	20%{margin-left: 0;}

	25%{margin-left: -100%;}
	45%{margin-left: -100%;}

	50%{margin-left: -200%;}
	70%{margin-left: -200%;}

	75%{margin-left: -300%;}
	95%{margin-left: -300%;}
}
